.cart-bar-container {

    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(221, 221, 221, 0.55);
    padding:1em;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.cart-bar-container a {
    border: none;
    padding:.3em;
    color: #d56;
    margin-left: 5px;
}